/* ----------------------------------------------------- FONTS */

@font-face { /* Lato Regular  */

    font-family:"latoRegular";
    src:	url('./fonts/Lato-Regular.ttf'),
            url('./fonts/Lato-Regular.otf'),
            url('./fonts/Lato-Regular.woff'),
            url('./fonts/Lato-Regular.eot');
}

@font-face { /* Lato Bold  */

    font-family:"latoBold";
    src:	url('./fonts/Lato-Bold.ttf'),
            url('./fonts/Lato-Bold.otf'),
            url('./fonts/Lato-Bold.woff'),
            url('./fonts/Lato-Bold.eot');
}

@font-face { /* OleoScript Bold  */

    font-family:"OleoScriptBold";
    src:	url('./fonts/OleoScript-Regular.ttf'),
            url('./fonts/OleoScript-Regular.otf'),
            url('./fonts/OleoScript-Regular.woff'),
            url('./fonts/OleoScript-Regular.eot');
}

*{
    box-sizing: border-box;
}

/* ----------------------------------------------------- PARAMETRES GENERAUX */

body{
    background-color: #101623;
}

/* TEXTES */

p{
    font-family: "Lato";
    font-size: 1.125em;
    color: #ffffff;
    margin: 0px 0px;
}

/* LIENS */

a{ text-decoration: none; font-family: "Lato"; }

/* TITRES */

h1, h2, h3{ 
    font-family: "OleoScriptBold"; 
    color: #ffffff; 
    text-transform: uppercase; 
    font-weight: 900; 
}

h1{ font-size: 4.375em;     }
h2{ font-size: 3.75em;      margin-bottom: 20px; }
h3{ font-size: 1.875em;     margin-bottom: 20px; }

/* BOUTONS */

.btn-form{ border: none; }

.btn-solid-vert, .btn-border-blanc{
    padding: 17px 32px;
    font-family: "latoBold"; 
    color: #ffffff; 
    text-transform: uppercase; 
    font-weight: 600;
    font-size: 1.25em;
    border-radius: 100px;
    display: inline-block;
    
    transition: all 0.3s ;
    -webkit-transition: all 0.3s ;
    -moz-transition: all 0.3s ;
    -o-transition: all 0.3s ;
    -ms-transition: all 0.3s ;
}

.btn-solid-vert{ background-color: #1bbb65; }
.btn-border-blanc{ outline: 2px solid #ffffff; outline-offset: -2px; }

.btn-solid-vert:hover, .btn-border-blanc:hover{ box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, .3); }

.btn-solid-vert:hover{
    background-color: #22d575;
    color: #ffffff;
}

.btn-border-blanc:hover{
    background-color: #ffffff;
    color: #000000;
}

/* RESEAUX SOCIAUX GLOBAUX */

#contener-contact .rs-contenu{
    display: flex;
    justify-content: flex-start;
    padding-left: 0px;
}

#contener-contact .rs-contenu img{ margin: 0px 20px 0px 0px; }

.rs-contenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rs-contenu li img{ width: 30px; margin: 0px 10px; }

/* DIVERS */

img{ max-width: 100%; }
.centrage-horizontal-flex{ display: flex; justify-content: center; }
.zone-contenu-demi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

/* ----------------------------------------------------- NAVIGATION ----------------------------------------------------- */

nav{
    position: fixed;
    background-color: #162036;
    width: 100%;
    height: 80px;
    z-index: 200;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

nav .onglets-nav{
    margin: 0;
    padding: 0;
}
 

nav ul, ol{ margin-top: 1em; padding-left: inherit;}

nav .logo-nav{
    font-family: "OleoScriptBold";
    text-transform: uppercase; 
    font-weight: 900;
    font-size: 2.5em;
    color: #ffffff;
    
    transition: all 0.3s ;
    -webkit-transition: all 0.3s ;
    -moz-transition: all 0.3s ;
    -o-transition: all 0.3s ;
    -ms-transition: all 0.3s ;
}

nav .logo-nav:hover, nav .onglets-nav li a:hover{ color: #22d575; }

nav .onglets-nav li, nav .rs-nav li{
    display: inline;
}

nav .onglets-nav li a{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0px 20px;
    
    transition: all 0.3s ;
    -webkit-transition: all 0.3s ;
    -moz-transition: all 0.3s ;
    -o-transition: all 0.3s ;
    -ms-transition: all 0.3s ;
}

nav .rs-nav li{ margin-left: 10px; }

nav .rs-nav li img{ width: 25px; }

/* ----------------------------------------------------- HEADER */

header{
    background-image: url("./img/hero-banner.jpg");
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 100px 0px;
}

 