@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background-color: black;    
    color: white;
    font-size: 16px;
}


h1,h2,h3{
    font-family: 'Mulish', sans-serif;
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}

p, span, article, section,li{
    font-family: 'Poppins', sans-serif;    
}

code{
    display: inline-block;
    font-weight: bold;
    border: 1px solid orangered;
    padding: 4px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.container{
    max-width: 1280px;
    margin: auto;    
}